In [2]:
import pandas as pd
import klib

In [3]:
df = pd.read_csv("data\census.csv", names = ["age",	"workclass", "fnlwgt",	"education", "education_num", "marital-status",	"occupation", "relationship", "race","gender", "capital-gain",	"capital-loss", "hours-per-week", "native-country",	"income-per-anum"])
df.head()

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income-per-anum
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
education_num      0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income-per-anum    0
dtype: int64

There is no null value

In [5]:
df["workclass"].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [6]:
df[df == ' ?'].count()

age                   0
workclass          1836
fnlwgt                0
education             0
education_num         0
marital-status        0
occupation         1843
relationship          0
race                  0
gender                0
capital-gain          0
capital-loss          0
hours-per-week        0
native-country      583
income-per-anum       0
dtype: int64

In [7]:
df['workclass']=df['workclass'].str.replace('?', 'Private')
df['workclass'].value_counts()

C:\Users\mohdalwaz\AppData\Local\Temp\ipykernel_13804\1863760196.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['workclass']=df['workclass'].str.replace('?', 'Private')

 Private             24532
 Self-emp-not-inc     2541
 Local-gov            2093
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [8]:
df['occupation'] = df['occupation'].str.replace('?', 'Prof-specialty')
df['occupation'].value_counts()

C:\Users\mohdalwaz\AppData\Local\Temp\ipykernel_13804\724258622.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['occupation'] = df['occupation'].str.replace('?', 'Prof-specialty')

 Prof-specialty       5983
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [9]:
df['native-country'] = df['native-country'].str.replace('?', 'United-States')
df['native-country'].value_counts()

C:\Users\mohdalwaz\AppData\Local\Temp\ipykernel_13804\2972409834.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['native-country'] = df['native-country'].str.replace('?', 'United-States')

 United-States                 29753
 Mexico                          643
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native-country, dtype: int64

In [10]:
df = klib.data_cleaning(df)

Shape of cleaned data: (32537, 15) - Remaining NAs: 0


Dropped rows: 24
     of which 24 duplicates. (Rows (first 150 shown): [4881, 5104, 9171, 11631, 13084, 15059, 17040, 18555, 18698, 21318, 21490, 21875, 22300, 22367, 22494, 25872, 26313, 28230, 28522, 28846, 29157, 30845, 31993, 32404])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 3.04 MB (-81.5%)

In [16]:
map={' <=50K':0,' >50K':1}

In [17]:
df['income_per_anum']=df['income_per_anum'].replace(map)

In [18]:
df['income_per_anum'].unique()

[0, 1]
Categories (2, int64): [0, 1]

In [19]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_per_anum
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [20]:
## Independent and dependent feature
X = df.drop(labels=['income_per_anum'],axis=1)
Y = df[["income_per_anum"]]

In [21]:
# Define which columns should be ordinal-encoded and which should be scale
categorical_cols=X.select_dtypes(exclude="number").columns
numerical_cols=X.select_dtypes(include='number').columns

print("categorical columns: ", categorical_cols)
print("numerical columns: ",numerical_cols)

categorical columns:  Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'gender', 'native_country'],
      dtype='object')
numerical columns:  Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [22]:
for i in categorical_cols:
    print('\n')
    print(df[i].unique())

[' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov', ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked']
Categories (8, object): [' Federal-gov', ' Local-gov', ' Never-worked', ' Private', ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay']


[' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th', ..., ' 5th-6th', ' 10th', ' 1st-4th', ' Preschool', ' 12th']
Length: 16
Categories (16, object): [' 10th', ' 11th', ' 12th', ' 1st-4th', ..., ' Masters', ' Preschool', ' Prof-school', ' Some-college']


[' Never-married', ' Married-civ-spouse', ' Divorced', ' Married-spouse-absent', ' Separated', ' Married-AF-spouse', ' Widowed']
Categories (7, object): [' Divorced', ' Married-AF-spouse', ' Married-civ-spouse', ' Married-spouse-absent', ' Never-married', ' Separated', ' Widowed']


[' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners', ' Prof-specialty', ' Other-service', ..., ' Machine-op-inspct', ' Tech-support', ' Protective-serv', ' Armed-Forces', ' Priv-house-serv']
Length: 14
Categories (14, object): [' Adm-clerical', ' Armed-Forces', ' Craft-repair', ' Exec-managerial', ..., ' Protective-serv', ' Sales', ' Tech-support', ' Transport-moving']


[' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried', ' Other-relative']
Categories (6, object): [' Husband', ' Not-in-family', ' Other-relative', ' Own-child', ' Unmarried', ' Wife']


[' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo', ' Other']
Categories (5, object): [' Amer-Indian-Eskimo', ' Asian-Pac-Islander', ' Black', ' Other', ' White']


[' Male', ' Female']
Categories (2, object): [' Female', ' Male']


[' United-States', ' Cuba', ' Jamaica', ' India', ' Mexico', ..., ' Vietnam', ' Hong', ' Ireland', ' Hungary', ' Holand-Netherlands']
Length: 41
Categories (41, object): [' Cambodia', ' Canada', ' China', ' Columbia', ..., ' Trinadad&Tobago', ' United-States', ' Vietnam', ' Yugoslavia']

In [24]:
workclass = [' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov', ' Local-gov', ' Self-emp-inc', ' Without-pay', ' Never-worked']
education = [' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th', ' Assoc-acdm', ' Assoc-voc', ' Some-college', ' 7th-8th', ' Prof-school', ' 12th', ' Doctorate', ' 5th-6th', ' 10th', ' 1st-4th', ' Preschool', ' 12th']
marital_status = [' Never-married', ' Married-civ-spouse', ' Divorced', ' Married-spouse-absent', ' Separated', ' Married-AF-spouse', ' Widowed']
occupation = [' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners', ' Prof-specialty', ' Other-service', ' Craft-repair', ' Sales', ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct', ' Tech-support', ' Protective-serv', ' Armed-Forces', ' Priv-house-serv']
relationship = [' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried', ' Other-relative']
race = [' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo', ' Other']
gender = [' Male', ' Female']
native_country = [' United-States',' Mexico',' Philippines',' Germany',' Canada',' Puerto-Rico',' El-Salvador',' India',' Cuba',' England',' Jamaica',' South',' China',' Italy',
                  ' Dominican-Republic',' Vietnam',' Guatemala',' Japan',' Poland',' Columbia',' Taiwan',' Haiti',' Iran',' Portugal',' Nicaragua',' Hungary',' Honduras',' Scotland',
                  ' Holand-Netherlands',' Ecuador',' Greece',' Hong',' Ireland',' Laos',' Thailand',' Trinadad&tobago',' Yugoslavia',' Outlying-US(Guam-USVI-etc)', ' France', ' Cambodia', ' Trinadad&Tobago', ' Peru']

In [25]:
from sklearn.impute import SimpleImputer  # Handling missing values
from sklearn.preprocessing import StandardScaler  # Handling feature  scaling
from sklearn.preprocessing import OrdinalEncoder  # ordinal encodind
## Pipelines 
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [26]:
## Numerical Pipeline
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())

    ]

)

# Categorigal Pipeline
cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[workclass, education, marital_status, occupation,relationship, race, gender, native_country])),
    ('scaler',StandardScaler())
    ]

)

preprocessor=ColumnTransformer([
('num_pipeline',num_pipeline,numerical_cols),
('cat_pipeline',cat_pipeline,categorical_cols)
])

In [27]:
## Train test split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.30,random_state=30)
X_train=pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())
X_test=pd.DataFrame(preprocessor.transform(X_test),columns=preprocessor.get_feature_names_out())
X_train.head()

,num_pipeline__age,num_pipeline__fnlwgt,num_pipeline__education_num,num_pipeline__capital_gain,num_pipeline__capital_loss,num_pipeline__hours_per_week,cat_pipeline__workclass,cat_pipeline__education,cat_pipeline__marital_status,cat_pipeline__occupation,cat_pipeline__relationship,cat_pipeline__race,cat_pipeline__gender,cat_pipeline__native_country
0,0.619179,-0.692473,-0.427161,-0.146582,-0.216187,0.124629,3.150146,-0.745613,-0.063007,-1.074158,-0.374558,-0.352612,-0.701897,-0.217204
1,-0.408681,-0.187333,-0.427161,-0.146582,-0.216187,-1.730556,-0.118846,-0.745613,-0.063007,-1.411592,0.323524,6.061714,1.424710,-0.217204
2,0.912853,0.559875,-0.427161,-0.146582,-0.216187,-0.036691,-0.118846,-0.745613,-0.063007,0.275577,-0.374558,-0.352612,-0.701897,-0.217204
3,-0.041588,0.254525,-0.036596,-0.146582,-0.216187,-0.036691,-1.208511,0.813714,0.743615,1.287878,-1.072641,-0.352612,-0.701897,-0.217204
4,0.472342,0.109298,0.353969,-0.146582,-0.216187,-0.036691,-0.118846,0.553826,-0.063007,1.625312,-0.374558,-0.352612,-0.701897,-0.217204

In [28]:
## Model Training

from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [29]:
regression=LinearRegression()
regression.fit(X_train,y_train)

LinearRegression()

In [30]:
regression.coef_

array([[ 0.0791114 ,  0.00484251,  0.11731707,  0.06680256,  0.04557595,
         0.04905927,  0.02349763,  0.0142087 , -0.01260151, -0.01488283,
        -0.0065138 , -0.01161239, -0.06509353,  0.002353  ]])

In [31]:
regression.intercept_

array([0.24052689])

In [32]:
import numpy as np
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [33]:
## Train multiple models

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}
trained_model_list=[]
model_list=[]
r2_list=[]

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train)

    #Make Predictions
    y_pred=model.predict(X_test)

    mae, rmse, r2_square=evaluate_model(y_test,y_pred)

    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])

    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)

    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression
Model Training Performance
RMSE: 0.36766778530070027
MAE: 0.2935527802916169
R2 score 26.27710628285357
===================================


Lasso
Model Training Performance
RMSE: 0.4282096842064685
MAE: 0.3660372406636903
R2 score -0.0009636657779088509
===================================


Ridge
Model Training Performance
RMSE: 0.36766792837041185
MAE: 0.29355337274670906
R2 score 26.277048907605515
===================================


Elasticnet
Model Training Performance
RMSE: 0.4282096842064685
MAE: 0.3660372406636903
R2 score -0.0009636657779088509
===================================